@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap&subset=cyrillic");
html {
    box-sizing: border-box;
    font-family: "Montserrat";
    font-style: normal;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    min-width: 320px;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    background-image: url(../img/background-pattern-yellow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ::placeholder {
    color: #ffffff;
  }
  
  ::selection {
    background-color: #a7a7a7;
    color: #ffffff;
  }
  
  input,
  textarea {
    &:focus:required:invalid {
      border-color: #ffffff;
    }
  
    &:required:valid {
      border-color: #ffffff;
    }
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  canvas,
  figure,
  figcaption,
  audio,
  video {
    margin: 0 !important;
    padding: 0;
  }
  
  ul li {
    list-style: none;
  }
  
  button,
  button:focus,
  button:active {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
  }

  .df{
      display: flex;
      align-items: center;
  }
  
  .df-c{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .big-container{
    max-width: 1600px;
    margin: 0 auto;
}

  header.header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 34px 90px;
      box-shadow: 0px 14px 28px 2px rgba(196, 196, 196, 0.71);
      background: #fff;
      z-index: 99;
      .header__content{
        .df;
      }

    }
    .header__logo{
        a{
            text-decoration: none;
            color: #000;
        }
        a:hover{
            text-decoration: none;
            color: #000;
            opacity: .7 ;
        }
        .df;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        &-icon{

            font-size: 48px;
            border: 2px solid #7FA38D;
            border-radius: 50%;
            width: 76px;
            height: 76px;
            .df-c;
        }
        &-name{
            font-size: 24px;
            margin-left: 12px;
        }
    }
    .header__search{
        position: relative;
        margin-left: auto;
    }
    .search-field{
        border: 2px solid #7FA38D;
        border-radius: 179px;
        outline: none;
        padding: 14px 24px;
        padding-right: 40px;
        min-width: 360px;
        font-size: 18px;
        color: #000000;
        &::placeholder{
            color: #000000;
        }
    }
    .search-field-label{
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        .fa-search{
            color:  #7FA38D;
            width: 20px;
            height: 20px;
        }
    }

    .header__login{
        margin-left: 185px;
        p{
            font-size: 14px;
        }
        .fa-user{
            color: #7FA38D;
            width: 34px;
            height: 23px;
        }
    }

    // popular test

    section.popular{
      padding-top: 144px;
        background: rgba(196, 196, 196, 0.21);
        
        .popular__title{
            padding: 34px 124px;
            p{
                font-weight: bold;
                font-size: 36px;
                color: rgba(0, 0, 0, 0.5);
                padding-left: 30px;
            }
        }
        .popular__content{
            padding: 40px 0;
            .popular__content-slider{
                .df;
                .popular__content-slide{
                    min-width: 305px;
                    height: 393px;
                    background: url('../img/slide1.png');
                    background-size: cover !important;
                    background-repeat: no-repeat !important;
                    cursor: pointer;
                    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
                    border-radius: 18px;
                    transition:  0.3s ease-in-out;
                    &:not(:first-child){
                        margin-left: 53px;
                    }
                    &:first-child{
                        margin-left: 5px;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        z-index: -1;
                        width: 99%;
                        height: 99%;
                        opacity: 0;
                        top: 0;
                        border-radius: 19px;
                        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
                        transition:  0.3s ease-in-out;
                      }
                      &:hover {
                        transition:  0.3s ease-in-out;
                        transform: scale(0.95, 0.95) translateY(10px);
                        background-size: contain !important;
                        background-repeat: no-repeat !important;
                      }
                      &:hover::after {
                        opacity: 1;
                    }
                    .slide-like{
                      width: 100%;
                      .df;
                      justify-content: flex-end;
                      padding: 20px;
                      i.like-test{
                        width: 20px;
                        height: 19px;
                        background-image: url('../img/icons/like.svg');
                        background-size: contain;
                        background-repeat: no-repeat;
                        &:hover{
                          width: 20px;
                          height: 19px;
                          background-image: url('../img/icons/like-bg.svg');
                          background-size: contain;
                          background-repeat: no-repeat;
                        }
                      }
                    }
                    .slide-interactive{
                      .df;
                      padding: 3px 70px 20px 60px;
                      p{
                        font-weight: 500;
                        font-size: 12px;
                        color: rgba(255, 255, 255, 0.5);
                      }
                      .slide-interactive-btn{
                        outline: none;
                        border: none;
                        transition:  0.3s all ease;
                        margin-left: 57px;
                        &:hover, &:active{
                          outline: none;
                          border: none;
                          opacity: 0.7;
                          transition:  0.3s all ease;
                        }
                      }
                    }
                    .slide-title{
                      width: 193px;
                      margin: 0 auto;
                      font-weight: bold;
                      font-size: 18px;
                      color: #FFFFFF;
                    }
                }
            }
        }
    }

    .type-search-filter{
      background: #808080;
      border-radius: 179px;
      padding: 12px 43px 12px 25px;
      font-size: 14px;
      color: #FFFFFF;
      position: relative;
      cursor: pointer;
      &::after{
        content: '';
        background-image: url('../img/icons/arrow-down.svg');
        width: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        height: 9px;
        background-repeat: no-repeat;
        background-size: contain;
      }
      margin-left: 40px;
    }
    section.filterTest{
      .filterTest__search{
      padding: 80px;

        .filterTest__search-title{
          font-weight: bold;
          font-size: 36px;
          color: #808080;
        }
        .header__search{
          .search-field{
            padding-left: 51px;
            border: 2px solid #808080;
          }
        }
      }
      .filterTest__list{
        justify-content: space-between;
        .filterTest__list-item{
          width: 305px;
          height: 393px;
          background-size: cover !important;
          background-repeat: no-repeat !important;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
        }
        .filterTest__list-title{
          width: 100%;
          text-align: center;
          font-weight: bold;
          font-size: 18px;
          color: #808080;
          margin-bottom: 15px;
        }
        .filterTest__list-wrap{
          padding: 0 0 32px 0;
          .filterTest__list-btn {
            display: inline-block;
            
            padding: 8px 22px;
            border-radius: 179px;
            border: none;
            color: #FFFFFF;
            text-align: center;
            transition: all 0.5s;
            min-width: 170px;
            cursor: pointer;
            margin: 5px;
          }
          .color-y{
            background: rgba(255, 182, 29, 0.45);
          }
          .color-wg{
            background: rgba(118, 170, 7, 0.45);
          }
          .color-p{
            background: rgba(255, 33, 33, 0.45);
          }
          .color-g{
            background: rgba(58, 148, 121, 0.45);
          }
          .filterTest__list-btn span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
          }
          
          .filterTest__list-btn span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
          }
          
          .filterTest__list-btn:hover span {
            padding-right: 25px;
          }
          
          .filterTest__list-btn:hover span:after {
            opacity: 1;
            right: 0;
          }
          .filterTest__list-btn{
            outline: none;
            border: none;
            span{
            font-size: 14px;
            color: #FFFFFF;
            }
          }
        }
      }
    }
    .search-filter-icon{
      background-image: url('../img/icons/arrow-down-grey.svg');
      width: 15px;
      height: 9px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    @media (min-width: 1600px){
        .container, .container-lg, .container-md, .container-sm, .container-xl {
            max-width: 1600px !important;
        }
    }